.inline-con {
  display: flex;
  justify-content: space-between;
}

.tab-con {
  border: 2px solid black;
}

.th-1 {
  width: 300px;
  border: 2px solid black;
}

.td-1 {
  border: 2px solid black;
}

.big-form {
  border: 2px solid black;
  width: auto;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.inline-skill {
  display: flex;
  justify-content: space-evenly;
}

.bold {
  font-weight: bold;
}

.con-bord {
  border: 2px solid black;
  width: 500px;
  margin: 30px;
  padding: 20px;
}
